@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/* basics css styling */
*{
    margin-top: 0;
    margin-bottom: 0;
    scroll-behavior: smooth;
}
:root{
    --first-color:#161513;
    --primary-color:#222222;
    --secondary-color:#fff;
    --text-color:#C5C5C5;
    --light-gray:#8491A0;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
main{
    width: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-color: var(--first-color);
}

/* Header css styling */
.header{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
    padding: 0 3rem;
    position: fixed;
    inset: 0;
}
.humburger{
    opacity: 0;
}
.header .navbar{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header .logo{
   color: var(--secondary-color);
   font-weight: 600;
   font-size: 36px;
   letter-spacing: 2px;
   font-family: 'Plus Jakarta Sans';
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}

.navbar .list li a{
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* home css styling */
.home{
     padding-left:50px ;
    padding-right: 50px;
    padding-top: 181px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.home .profile-image{
    width: 251px;
    height: 223px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.home .profile-image img{
    border-radius: 107px;
    width: 213px;
    height: 213px;
    object-fit: cover;
    background:  linear-gradient(167deg,rgba(255, 134, 96, 1) 24%, rgba(154, 51, 255, 1) 76%);
}
.home .profile-title{
    padding-top: 40px;
    width: 670px;
    height: 127px;
    
}
.home .profile-title h3{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 55px;
    line-height: 64px;
    text-align: center;
    color: var(--secondary-color);
    
}
.home .profile-title span{
    background:  linear-gradient(167deg,rgba(255, 134, 96, 1) 24%, rgba(154, 51, 255, 1) 76%) ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home .profile-description{
    width: 679px;
    height: 108px;
    padding-top: 39px;
}
.home .profile-description p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    text-align: center;
    color: var(--text-color);
}
.home .profile-buttons{
    width: 417px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    
}
.home .profile-buttons button{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 100%;
    border-radius: 50px;
    background-color: var(--secondary-color);
    color: var(--first-color);
    border-style: none;
    padding: 16px 28px;
}
.home .profile-buttons a button{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 100%;
    border-radius: 50px;
    background-color: inherit;
    color: var(--secondary-color);
    border:2px solid var(--secondary-color);
    padding: 16px 28px;
    
}
.home .icons-title{
    width: 208px;
    height: 30px;
    padding-top: 88px;
}
.home .icons-title h4{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 2px;
    color: var(--text-color);
}
.home .profile-icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 48px;
}
/* projects css styling */
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 99px;
}
.projects .projects-title{
    width: 182px;
    height: 36px;
}
.projects .projects-title h3{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 35px;
    line-height: 35px;
    text-transform: uppercase;
    background: linear-gradient(0deg,rgba(213, 73, 29, 1) 0%, rgba(255, 134, 96, 1) 93%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.projects .projects-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 27px;
    padding-bottom: 20px;
}
.projects .projects-content .css-tutorial,
.projects .projects-content .html-tutorial{
    width: 390px;
    height: 301px;
    border-radius: 18px;
    background-color: #2A2A2A;
}
.thumbnail-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 29px;
}
.thumbnail-description .thumbnail-title p{
  font-family: "Poppins", sans-serif;
    font-weight: 800px;
    font-size: 10px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--text-color);
}
.thumbnail-description .thumbnail-title h4{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 19px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--secondary-color);
}
.thumbnail-description .thumbnail-icon i{
    color: var(--secondary-color);
    font-size: 20px;
}
/* experinces css styling */
.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 86px;
    padding-bottom: 107px;
}
.experience .experience-title{
    width: 213px;
    height: 36px;
}
.experience .experience-title h3{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 35px;
    line-height: 35px;
    text-transform: uppercase;
    background: linear-gradient(0deg,rgba(19, 115, 209, 1) 55%, rgba(91, 173, 255, 1) 83%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.experience-content{
    padding-top: 57px;
    width: 810px;
    display: grid;
    grid-template-columns: repeat(1,804px);
    grid-template-rows: repeat(3,116px);
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.experience-content article{
    height: 116px;
}
.experience-content article .article{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.experience-content article .article .title-article{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.experience-content article .article .title-article h5{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 100%;
    color: var(--secondary-color);
}
.experience-content article .article .article-date{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--light-gray);
}
.experience-content article .article-paragraph{
    width: 790px;
    padding-top: 29px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--light-gray);

}
.contact{
    
    display: grid;
    grid-template-columns:repeat(1,700px);
    gap: 30px;
    height: 418px;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
}
.contact .contact-title {
    width: 100px;
    height: 35px;
    padding-top: 82px;
}
.contact .contact-title h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 100%;
    letter-spacing: 1px;
    color: var(--secondary-color);
}
.contact .contact-description{
    width: 676px;
    height: 63px;
}
.contact .contact-description p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    color: var(--text-color);
}
.contact .contact-mail{
    display: flex;
    align-items: center;
    width: 196px;
    height: 21px;
}
.contact .contact-mail i{
    color: var(--secondary-color);
}
.contact .contact-mail a{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: var(--text-color);
}
.contact .contact-icons{
    display: flex;
    align-items: center;
    gap: 25px;
    
}
.contact .contact-icons i{
    color: var(--secondary-color);
    width: 18px;
    height: 18px;
   
}
@media (max-width:800px) {
/*///////////responsive navbar/////////////////*/
.header {
    padding: 0 3rem;
}
.humburger{
    opacity: 1;
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 25px;
    width: 45px;
    height: 45px;
}
.navbar{
    background-color: var(--primary-color);
    position: absolute;
    top: 82px;
    left: 0;
    opacity: 0;
    width: 100%;
   
}
.navbar ul{
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    
}
.navbar ul li{
    width: 100%;
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 20px;
}

.navbar ul li:last-child{
    border-bottom: none;
}
.navbar.active{
   opacity: 1;
    transition: 0.3s ease;
}
.humburger i{
    position: absolute;
    inset: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    opacity: 0;
    color: var(--secondary-color);
}
.humburger i.active{
    opacity: 1;
     transition: 0.3s ease;
    transform: rotate(180deg);
}
/*//////////////////////////////////*/
  
.home .profile-title{
    width: 600px;
}
.home .profile-description{
    width: 600px;
}
.home .profile-icons{
    flex-wrap: wrap;
    gap: 20px;
}
/* projects css styling */
.projects .projects-content{
    flex-wrap: wrap;
}
/* experinces css styling */
.experience-content{
    width: 600px;
    grid-template-columns: repeat(1,500px);
    grid-template-rows: repeat(3,200px);
}
.experience-content article{
    height: 200px;
}
.experience-content article .article{
    flex-direction: column;
    gap: 10px;
}
.experience-content article .article-paragraph{
    width: 500px;
    text-align: center;
}
.contact{
    grid-template-columns:repeat(1,500px);
}
.contact .contact-title {
    width: 100px;
    height: 35px;
    padding-top: 82px;
}

.contact .contact-description{
    width: 500px;
    
}
}

@media (max-width:600px){
    .home .profile-title{
    width: 500px;
}
.home .profile-description{
    width: 500px;
}
.home .profile-icons{
    flex-wrap: wrap;
    gap: 20px;
}
/* projects css styling */
.projects .projects-content{
    flex-wrap: wrap;
}
/* experinces css styling */
.experience-content{
    width: 500px;
    grid-template-columns: repeat(1,400px);
    grid-template-rows: repeat(3,250px);
}
.experience-content article{
    height: 250px;
}
.experience-content article .article{
    flex-direction: column;
    gap: 10px;
}
.experience-content article .article-paragraph{
    width: 400px;
    text-align: center;
}
.contact{
    grid-template-columns:repeat(1,400px);
}
.contact .contact-title {
    width: 100px;
    height: 35px;
    padding-top: 82px;
}

.contact .contact-description{
    width: 400px;
    
}
}
@media (max-width:500px){
    .home .profile-buttons{
        width: 250px;
        flex-wrap: wrap;
        gap: 10px;
    }
    .home .profile-title{
        height: 300px;
    width: 250px;
}
.home .profile-description{
    width: 250px;
    height: 180px;

}
.home .profile-icons{
    flex-wrap: wrap;
    gap: 20px;
}
/* projects css styling */
.projects .projects-content{
    
    flex-wrap: wrap;
}

/* experinces css styling */
.experience-content{
    width: 300px;
    grid-template-columns: repeat(1,300px);
    grid-template-rows: repeat(3,300px);
}
.experience-content article{
    height: 250px;
}
.experience-content article .article{
    flex-direction: column;
    gap: 10px;
}
.experience-content article .article-paragraph{
    width: 300px;
    text-align: center;
}
.contact{
    grid-template-columns:repeat(1,300px);
}
.contact .contact-title {
    width: 100px;
    height: 35px;
    padding-top: 82px;
}

.contact .contact-description{
    width: 300px;
    
}
}